.body {
  width: 444px;
  height: 360px;
  margin-left: calc(50vw - 222px);
  margin-right: calc(50vw - 222px);
  background: #f5f5f5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
.text {
  margin-top: 41px;
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  width: 268px;
}
.hand {
  width: 170px;
  height: 200px;
}
